<%= heading("Bands") %>

<style>
  form {
    display: inline;
  }
</style>

<ul>
  <% @bands.each do |band| %>
    <li><a href="<%= band_url(band) %>"><%=band.name %></a>
    <%= delete_button(band_url(band)) %>
    <%= edit_button(edit_band_url(band)) %>
    </li>
  <% end %>
<ul>

<a href="<%= new_band_url %>">Register a Band</a>
